{% extends "::base.html.twig" %}

{% block stylesheets %}
	<style>
      body {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .thumbnails {
	    text-align: center;
	  }
	  .thumbnails .caption{
	  	text-align: left;
	  }
	  p.filename{
	  	height: 42px;
	  }
	  body.dark{
	  	background-color: black;
	  }
	</style>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
	{% block page_stylesheets %}{% endblock %}
{% endblock %}

{% block title 'Self Hosted Videos' %}

{% block body %}
	<div class="container" id="main-container">
    {% block menu %}
       {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': '', 'q': ''} %}
    {% endblock %}
    {% block content %}{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
	{% block page_javascripts %}{% endblock %}
{% endblock %}