{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block title %}
	{% if terms != '' %}
		Search for "{{ terms }}"
	{% else %}
		All videos
	{% endif %}
{% endblock %}

{% block menu %}
   {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': 'list', 'q': terms} %}
{% endblock %}

{% block content %}
<div class="page-header">
<h1>
	{% if terms != '' %}
		Search for "{{ terms }}"
	{% else %}
		All videos
	{% endif %}
</h1>
</div>

{% if videos|length > 0 %}
	<ul class="thumbnails">
		{% for video in videos %}
			<li class="span4">{% include "YannickMaheSelfHostedVideosBundle:Default:thumbnail.html.twig" with {'video': video} %}</li>
		{% endfor %}
	</ul>
{% else %}
	{% if terms == '' %}
		<h2>No video has yet been uploaded! Go ahead and <a href="{{ path('yannick_mahe_self_hosted_videos_upload_page') }}">upload one</a>.</h2>
	{% else %}
		<h2>No video found.</h2>
	{% endif %}
{% endif %}
{% endblock %}