{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block title %}
	{% if terms != '' %}
		Search for "{{ terms }}"
	{% else %}
		All videos
	{% endif %}
{% endblock %}

{% block menu %}
   {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': 'list', 'q': terms} %}
{% endblock %}

{% block content %}
<h1>
	{% if terms != '' %}
		Search for "{{ terms }}"
	{% else %}
		All videos
	{% endif %}
</h1>

{% if videos|length > 0 %}
	<ul>
		{% for video in videos %}
			<li>{% include "YannickMaheSelfHostedVideosBundle:Default:thumbnail.html.twig" with {'video': video} %}</li>
		{% endfor %}
	</ul>
{% endif %}
{% endblock %}