{% extends "YannickMaheSelfHostedVideosBundle::layout.html.twig" %}

{% block title 'Video' %}

{% block menu %}
   {% include "YannickMaheSelfHostedVideosBundle:Default:menu.html.twig" with {'current': ''} %}
{% endblock %}

{% block content %}
<h1>Video</h1>
{% endblock %}